@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.alfa-slab-one-regular {
  font-family: "Alfa Slab One", serif;
  font-weight:600;
  font-style: normal;
}
